$header1: 2.5rem;
$header2: 4rem;
$header3: 2.5rem;
$header4: 2rem;
$text: 2.5rem;
$gradient: linear-gradient(to left, #38d39f, #38a4d3);
$bg-color: #154343;
$grey-text: #2c2c2c;

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@import "./global";
@import "./intro";
@import "./projects/";

@media screen and (max-width: 1100px) {
  html {
    font-size: 50%;
  }
  nav {
    width: 100%;
  }
  .splash {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 60%;
  }
  .intro-text {
    margin-top: 5rem;
    text-align: center;
  }
  .intro-images {
    text-align: center;
  }
  .intro-social {
    @include flex(center, center, row);
    a {
      margin: 2rem;
    }
  }
  .travelly,
  .elena {
    img {
      height: 100%;
      width: 100%;
    }
  }
  svg {
    width: 80%;
  }
}
@media screen and (max-width: 662px) {
  nav {
    #logo {
      @include flex(center, center, column);
      flex: 1 1 20rem;
    }
    .nav-links {
      flex: 1 1 60rem;
      margin: 2rem 0rem;
    }
  }
}
